html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom, black, darkblue);
}

#welcome,
#pseudo,
#category,
#quizz,
#wrong,
#right,
#result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1em;
}

/* #welcome {
    animation: bgClignot 2s infinite;
} */

@keyframes bgClignot {
    0% {
        background-color: darkblue;
    }

    25% {
        background-color: darkorchid;
    }

    50% {
        background-color: darkred;
    }

    75% {
        background-color: darkturquoise;
    }

    100% {
        background-color: darkblue;
    }
}

#welcome h1 {
    text-align: center;
    font-size: 100px;
    animation: textClignot 1s infinite;
}

@keyframes textClignot {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 20%;
    }

    100% {
        opacity: 100%;
    }
}

#category
{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 54px;
}

#category label {
    text-align: center;
}

#category select {
    padding: 10px;
    font-family: 'Bangers', cursive;
    font-size: 32px;
    letter-spacing: 0.1em;
    outline: none;
    background: linear-gradient(to left, black, darkblue);
    color: #eee
}

#category input {
    outline: none;
    box-shadow: 5px 5px 50px rgb(0, 0, 0);
    text-align: center;
}

#category button,
#quizz button,
#wrong button,
#right button {
    cursor: pointer;
    outline: none;
    padding: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1em;
    font-size: 24px;
    background: linear-gradient(to top, darkblue, grey);
    color: #eee;
    border: none;
}

#valid:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

#quizz {
    flex-direction: column;
    justify-content: space-around;
}

#quizz h2 {
    font-size: 40px;
    text-align: center;
}

#quizz label {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#propositions {
    width: 50%;
    height: 40%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d"
}
#boolean {
    width: 50%;
    height: 40%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 100px;
    max-width: 300px;
    padding: 0 0.5em;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background: linear-gradient(to left, rgb(138, 41, 3), blue);
    border: 3px solid transparent;
    transition: all 0.15s ease-in-out;
    box-sizing: content-box;
}

input[type="radio"]:hover+label {
    background-color: #218838;
    border-width: 3px;
    border-color: rgb(138, 41, 3);
}

input[type="radio"]:checked+label {
    background-color: #28a745;
    border-width: 3px;
    border-color: rgb(9, 105, 38);
}

input[type="radio"]:disabled {
    opacity: 50%;
}

#wrong, #right {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    margin: 10% 23% 7% 23%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom, darkblue, rgb(209, 63, 5)); */
    box-shadow: 10px 10px 10px darkblue;
}

#wrong {
    background: linear-gradient(to bottom, darkblue, rgb(209, 63, 5));
}

#right {
    background: linear-gradient(to bottom, darkblue, rgb(51, 3, 105));
}

#wrong h3, #right h3 {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 62px;
    animation: textClignot .5s infinite;
}

#wrong p, #right p {
    text-align: center;
}

#wrong h3 {
    color: red;
}

#right h3 {
    color: green;
}

#wrong p, #right p {
    font-size: 36px;
}

#next {
    margin-bottom: 10px;
}

#result {
    flex-direction: column;
    justify-content: space-around;
}

#result h1 {
    text-align: center;
    font-size: 60px;
}

#result p {
    text-align: center;
    font-size: 32px;
}

#result button {
    cursor: pointer;
    outline: none;
    padding: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1em;
    font-size: 24px;
    background: linear-gradient(to top, darkblue, grey);
    color: #eee;
    border: none;
}

#result button:link {
    border: none;
}

@media screen and (max-width:  768px) {
    body {
        height: 105vh;
    }

    #welcome h1 {
        font-size: 50px;
        line-height: 3em;
    }

    #category label {
        font-size: 42px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #category select {
        width: 80%;
        padding: 10px;
        font-family: 'Bangers', cursive;
        font-size: 22px;
        letter-spacing: 0.1em;
        outline: none;
        background: linear-gradient(to left, black, darkblue);
        color: #eee
    }

    #category input {
        width: 70%;
        font-size: 30px;
        padding: 10px;
    }

    #quizz h2 {
        font-size: 28px;
        margin: 0 10px;
    }

    #propositions label {
        padding: 0 1em;
        font-size: 18px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #boolean {
        grid-template-areas: 
        "a"
        "b";
    }
    
    #boolean label {
        height: 4em;
        width: 6em;
    }

    #wrong, #right {
        margin: 12% 12%;
        justify-content: space-around;
    }

    #wrong h3, #right h3 {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #wrong p, #right p {
        margin: 5px 5px;
        line-height: 1.5em;
        font-size: 32px;
    }

    #wrong button, #right button {
        margin-top: 10px;
    }

    #result h1 {
        margin: 0 40px;
        font-size: 46px;
    }

    #result h1 span {
        display: block;
    }
}