#welcome {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#category {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#difficulty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

#number {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#quizz {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}